
<div>
    <section fxLayout="row wrap" fxLayoutAlign="center">
        <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100">
            <mat-card class="bg-warning">
                <mat-list>
                    <mat-list-item>
                        <mat-icon mat-list-icon class="text-white">filter</mat-icon>
                        <div mat-line class="text-white">{{adminOverview?.totalFiles}}</div>
                        <div mat-line class="text-white">Total Files</div>
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </div>
        <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100">
            <mat-card class="bg-danger">
                <mat-list>
                    <mat-list-item>
                        <mat-icon mat-list-icon class="text-white">perm_identity</mat-icon>
                        <div mat-line class="text-white">{{adminOverview?.totalUsers}}</div>
                        <div mat-line class="text-white">Total Users</div>
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </div>
        <!--Available disc space-->
        <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100">
            <mat-card class="bg-success">
                <mat-list>
                    <mat-list-item>
                        <mat-icon mat-list-icon class="text-white">publish</mat-icon>
                        <div mat-line class="text-white">{{adminOverview?.freeSpace | bytes}}</div>
                        <div mat-line class="text-white">Free Space</div>
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </div>
        <!--Drive size-->
        <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="100">
            <mat-card class="bg-info">
                <mat-list>
                    <mat-list-item>
                        <mat-icon mat-list-icon class="text-white">storage</mat-icon>
                        <div mat-line class="text-white">{{adminOverview?.driveSize | bytes}}</div>
                        <div mat-line class="text-white"> Drive Size </div>
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </div>
    </section>

    <!--File Chart-->
    <div fxLayout="row wrap">  
        <app-fileuploads [filesCount$]="filesCount$" fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="100"></app-fileuploads>
        <app-piechart [fileTypesCount$]="fileTypesCount$" fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100"></app-piechart>
        <app-users [usersCount$]="usersCount$" fxFlex="100"></app-users>
        <app-healthchek fxFlex="100" ></app-healthchek>
    </div>
</div>