<div class="sheet-header">
    <p class="card-title font-14 font-medium">Select Files to Upload</p>
    <a mat-icon-button mat-button (click)="onCloseUploadSheet($event)" class="close-icon">
      <mat-icon>close</mat-icon>
    </a>
</div>
<mat-divider></mat-divider>

<section *ngIf="!isBusy">
  <!--Drop Zone -->
  <ngx-dropzone
  [maxFileSize]="uploadSetting?.maxFileSize *1024 *1024"
  [accept]="uploadSetting?.fileExtensions"
  [class.drop-visibility]="files.length> 0" #drop class="dropzone" 
  (change)="onSelect($event)">
    <ngx-dropzone-label>
      <mat-icon class="icon-add-files">add</mat-icon>
      <p class="text-muted font-12" *ngIf="uploadSetting?.maxFileSize as maxfilesize">
        Max File Size: {{maxfilesize *1024 *1024 | bytes:2}}
      </p>
    </ngx-dropzone-label>
  </ngx-dropzone>
  <!--Droped elements-->
  <mat-list>
    <mat-list-item *ngFor="let file of files">
      <p class="file-name" matLine *ngIf="(file.uploadStatus$ | async)?.status != 'Success'; else elseBlock">
       {{(file.uploadStatus$ | async)?.status}} {{file.name | truncate:[32]}}
      </p>
      <ng-template #elseBlock>
        <a matLine class="text-info file-name" target="_blank" href="{{file.downloadUrl}}">
          {{file.name | truncate:[32]}}
        </a>
      </ng-template>
      
      <p class="file-size" matLine> {{file.size | bytes:2}} </p>
      <mat-progress-bar *ngIf="(file.uploadStatus$ | async)?.status === 'InProgress'" mode="determinate"
        value="{{(file.uploadStatus$ | async)?.message}}"></mat-progress-bar>
      <a *ngIf="(file.uploadStatus$ | async)?.status === 'ToDo'" mat-icon-button mat-button
        (click)="onRemoveFile(file)" matTooltip="Remove from selection">
        <mat-icon class="text-danger font-18">delete</mat-icon>
      </a>
      <mat-icon *ngIf="(file.uploadStatus$ | async)?.status === 'Success'" matTooltip="Upload successful" 
        class="text-success font-18">done</mat-icon>

        <a mat-icon-button mat-button matTooltip="An Error has occurred while uploading the file." 
        *ngIf="(file.uploadStatus$ | async)?.status === 'Error'" (click)="onRemoveFile(file)">
        <mat-icon class="text-danger font-18">error</mat-icon>
      </a>
        
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  <!--Action buttons-->
  <div fxLayout="row wrap" class="m-t-10">
    <div fxFlex="40">
      <button mat-raised-button [disabled]="storageLimitReached" class="m-r-5" (click)="drop.showFileSelector()">Add files</button>
    </div>
    <div fxLayoutAlign="flex-end" fxFlex="60">
      <button mat-raised-button class="m-r-5" (click)="onCloseUploadSheet($event)">Cancel</button>
      <button mat-raised-button color="accent" (click)="onRequestUpload()">Start Upload</button>
    </div>
    <mat-error *ngIf="storageLimitReached">You have reached you max storage space.</mat-error>
  </div>
</section>
<div *ngIf="isBusy" fxLayout="row wrap" fxLayoutAlign="center center" class="loading-container">
  <mat-progress-bar mode="query" color="accent"></mat-progress-bar>
</div>
