<div class="sheet-header">
  <p class="card-title" i18n>Select Files to Upload</p>
  <a mat-icon-button mat-button (click)="onCloseUploadSheet($event)">
    <mat-icon>close</mat-icon>
  </a>
</div>
<mat-divider></mat-divider>
<!--Progress bar-->
<div *ngIf="isBusy" fxLayoutAlign="center center" class="loading-container">
  <mat-progress-bar mode="query" color="accent"></mat-progress-bar>
</div>
<!--Upload content-->
<section *ngIf="uploadSetting$ | async as setting">
  <!--Upload drop box tpl-->
  <div *ngIf="setting.storageServer; else storageDisconnected">
    <!--Drop Zone -->
    <ngx-dropzone [maxFileSize]="setting.maxFileSize *1024 *1024"
      [accept]="setting.fileExtensions" [class.drop-visibility]="files.length> 0" #drop
      class="dropzone" (change)="onSelect($event)">
      <ngx-dropzone-label>
        <mat-icon class="icon-add-files">add</mat-icon>
        <p class="text-muted font-12" *ngIf="setting.maxFileSize as maxfilesize">
          <span i18n>Max File Size:</span>&nbsp;{{maxfilesize *1024 *1024 | bytes:2}}
        </p>
      </ngx-dropzone-label>
    </ngx-dropzone>
    <!--Droped elements-->
    <mat-list>
      <mat-list-item *ngFor="let file of files">
        <!--File name-->
        <p class="file-name" matLine *ngIf="(file.uploadStatus$ | async)?.status != 'Success'; else elseBlock1">
          {{(file.uploadStatus$ | async)?.status}} {{file.name | truncate:[32]}}
        </p>
        <ng-template #elseBlock1>
          <a matLine class="text-info file-name" target="_blank" href="{{file.downloadUrl}}">
            {{file.name | truncate:[32]}}
          </a>
        </ng-template>
        <!--File size-->
        <p class="file-size" matLine> {{file.size | bytes:2}} </p>
        <mat-progress-bar *ngIf="(file.uploadStatus$ | async)?.status === 'InProgress'" mode="determinate"
          value="{{(file.uploadStatus$ | async)?.message}}">
        </mat-progress-bar>
        <!--Upload status icons-->
        <a *ngIf="(file.uploadStatus$ | async)?.status === 'ToDo'" mat-icon-button mat-button
          (click)="onRemoveFile(file)" i18n-matTooltip matTooltip="Remove from selection">
          <mat-icon class="text-danger font-18">delete</mat-icon>
        </a>
        <mat-icon *ngIf="(file.uploadStatus$ | async)?.status === 'Success'" i18n-matTooltip matTooltip="Upload successful"
          class="text-success font-18">done
        </mat-icon>
        <a mat-icon-button mat-button i18n-matTooltip matTooltip="An Error has occurred while uploading the file."
          *ngIf="(file.uploadStatus$ | async)?.status === 'Error'" (click)="onRemoveFile(file)">
          <mat-icon class="text-danger font-18">error</mat-icon>
        </a>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    <!--Action buttons-->
    <div fxLayout="row wrap" class="m-t-10">
      <div fxFlex="40">
        <button mat-raised-button [disabled]="storageLimitReached" class="m-r-5" (click)="drop.showFileSelector()"
        i18n>Add files</button>
      </div>
      <div fxLayoutAlign="flex-end" fxFlex="60">
        <button mat-raised-button class="m-r-5" (click)="onCloseUploadSheet($event)" i18n>Cancel</button>
        <button mat-raised-button color="accent" (click)="onRequestUpload()" i18n>Start Upload</button>
      </div>
      <mat-error *ngIf="storageLimitReached" i18n>You have reached your max storage space.</mat-error>
    </div>
  </div>
  <!--Storage disconnected tpl-->
  <ng-template #storageDisconnected>
    <div class="disconnedted-servers">
      <mat-icon svgIcon="disconnected"></mat-icon>
      <p i18n>Unreachable storage servers. Please contact customer support.</p>
    </div>
  </ng-template>
</section>