<div class="page-wrapper mat-app-background">
    <div fxLayout="row wrap" fxLayoutAlign="center baseline" class="page-content">
        <div fxFlex.sm="70" fxFlex.md="50" fxFlex.lg="40">
            <mat-card>
                <mat-card-header>
                    <mat-card-title i18n>Reset Your Password</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <form [formGroup]="forgotPassFormGroup" class="font-14" (ngSubmit)="onSubmit(forgotPassFormGroup.value)">
                        <app-message [message$]="message$"></app-message>
                        <!-- Current Password -->
                        <p i18n>Enter the email address you used to create your account:</p>
                        <mat-form-field>
                            <mat-label i18n>Enter email</mat-label>
                            <input matInput [type]="email" formControlName="email" required>
                            <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                        </mat-form-field>

                        <!-- Submit button-->
                        <mat-card-actions>
                            <button mat-flat-button class="btn-block btn-lg mat-primary"
                                [disabled]="!forgotPassFormGroup.valid || isBusy" type="submit" i18n>
                                <mat-progress-bar mode="indeterminate" *ngIf="isBusy"></mat-progress-bar>
                                SEND ME A PASSWORD-RESET EMAIL
                            </button>
                        </mat-card-actions>
                        <p class="text-muted" i18n>
                            After clicking the button above, an email will be sent to you with a link to reset your
                            password.
                        </p>

                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <!--Footer-->
    <app-footer></app-footer>
</div>