<div class="page-wrapper mat-app-background">
    <div fxLayout="row wrap" fxLayoutAlign="center baseline" class="page-content">
        <div fxFlex.sm="70" fxFlex.md="50" fxFlex.lg="40">
            <mat-card>
                <mat-card-header>
                    <mat-card-title i18n>Enter Your New Password</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <form [formGroup]="recoverPassFormGroup" style="width: 100%;"
                        (ngSubmit)="onSubmit(recoverPassFormGroup.value)" class="font-14">

                        <app-message [message$]="message$"></app-message>
                        <!-- Current Password -->
                        <p i18n>To recover your password, enter a new one bellow:</p>
                        <mat-form-field>
                            <input matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'"
                                formControlName="password" required>
                            <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="password.invalid">{{getErrorMessage(password)}}</mat-error>
                        </mat-form-field>
                        <!-- Submit button-->
                        <mat-card-actions>
                            <button mat-flat-button class="btn-block btn-lg mat-primary"
                                [disabled]="!recoverPassFormGroup.valid || isBusy || !tokenValid" type="submit" i18n>
                                <mat-progress-bar mode="indeterminate" *ngIf="isBusy"></mat-progress-bar>
                                UPDATE MY PASSWORD
                            </button>
                        </mat-card-actions>
                        <p class="text-muted" i18n>
                            After clicking the button above, your password will be updated.
                        </p>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <!--Footer-->
    <app-footer></app-footer>
</div>