<div class="page-wrapper mat-app-background">
    <div fxLayout="row wrap" fxLayoutAlign="center" class="page-content">
        <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Enter Your New Password</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <form [formGroup]="recoverPassFormGroup" style="width: 100%;" #formDirective="ngForm"
                    (ngSubmit)="onSubmit(recoverPassFormGroup.value)">
                    <mat-card-content>
                        <app-message [message$]="message$"></app-message>
                        <!-- Current Password -->
                        <p>To recover your password, enter a new one bellow:</p>
                        <mat-form-field>
                            <input matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
                            <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="password.invalid">{{getErrorMessage(password)}}</mat-error>
                          </mat-form-field>
                        <!-- Submit button-->
                        <mat-card-actions>
                            <button mat-flat-button class="btn-block btn-lg mat-primary"
                                [disabled]="!recoverPassFormGroup.valid || isBusy || !tokenValid" type="submit">
                                <mat-progress-bar mode="indeterminate" *ngIf="isBusy"></mat-progress-bar>
                                UPDATE MY PASSWORD
                            </button>
                        </mat-card-actions>
                        <p class="text-muted">
                            After clicking the button above, your password will be updated.
                        </p>
                    </mat-card-content>
                </form>
            </mat-card>
        </div>
    </div>
    
<!--Footer-->
<app-footer></app-footer>
</div>