<mat-sidenav-container class="page-wrapper">
    <!-- Side bar -->
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'side' : 'over'" fixedTopGap="0" [opened]="mobileQuery.matches" [disableClose]="mobileQuery.matches">
        <mat-action-list class="p-t-30">
            <button mat-list-item [routerLink]="['/settings/overview']" routerLinkActive="active-link">
                <mat-icon class="side-icons">card_travel</mat-icon>
                <span i18n>Overview</span>
            </button>
            <!--<button mat-list-item [routerLink]="['/settings/info']" routerLinkActive="active-link">
                <mat-icon class="side-icons">perm_identity</mat-icon>
                User Info
            </button>-->
            <button mat-list-item [routerLink]="['/settings/password']" routerLinkActive="active-link">
                <mat-icon class="side-icons">lock</mat-icon>
                <span i18n>Password</span>
            </button>
            <button mat-list-item [routerLink]="['/settings/avatar']" routerLinkActive="active-link">
                <mat-icon class="side-icons">photo_camera</mat-icon>
                <span i18n>Avatar</span>
            </button>
        </mat-action-list>
    </mat-sidenav>
    <!-- Page container -->
    <mat-sidenav-content>
        <mat-card>

            <div fxLayout="row wrap">
                <h4 class="card-title m-l-15" i18n>Settings</h4>
                <mat-icon class="card-subtitle op-5 m-t-23">keyboard_arrow_right</mat-icon>
                <p class="card-subtitle op-5 m-t-23">{{subTitle}}</p>
            </div>
            <mat-divider></mat-divider>
            <mat-card-content style="min-height: 530px;">
                <!--Child components routes-->
                <router-outlet></router-outlet>
            </mat-card-content>
        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>