<div class="page-wrapper mat-app-background">
    <div fxLayout="row wrap" fxLayoutAlign="center center" class="page-content">
        <!-- column -->
        <div fxFlex.gt-lg="40" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>404 Page Not Found</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h6>The requested page does not exist :(</h6>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>