
<div>
    <section fxLayout="row wrap" fxLayoutAlign="center baseline">
        <div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex="25">
            <mat-card class="bg-warning">
                <mat-list>
                    <mat-list-item>
                        <mat-icon mat-list-icon class="text-white">filter</mat-icon>
                        <div mat-line class="text-white">{{adminOverview?.totalFiles}}</div>
                        <div mat-line class="text-white" i18n>Total Files</div>
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </div>
        <div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex="25">
            <mat-card class="bg-danger">
                <mat-list>
                    <mat-list-item>
                        <mat-icon mat-list-icon class="text-white">perm_identity</mat-icon>
                        <div mat-line class="text-white">{{adminOverview?.totalUsers}}</div>
                        <div mat-line class="text-white" i18n>Total Users</div>
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </div>
        <!--Available disc space-->
        <div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex="25">
            <mat-card class="bg-success">
                <mat-list>
                    <mat-list-item>
                        <mat-icon mat-list-icon class="text-white">publish</mat-icon>
                        <div mat-line class="text-white">{{adminOverview?.freeSpace | bytes}}</div>
                        <div mat-line class="text-white" i18n>Free Space</div>
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </div>
        <!--Drive size-->
        <div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex="25">
            <mat-card class="bg-info">
                <mat-list>
                    <mat-list-item>
                        <mat-icon mat-list-icon class="text-white">storage</mat-icon>
                        <div mat-line class="text-white">{{adminOverview?.driveSize | bytes}}</div>
                        <div mat-line class="text-white" i18n>Size</div>
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </div>
    </section>

    <!--File Chart-->
    <div fxLayout="row wrap">  
        <app-fileuploads [filesCount$]="filesCount$" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex="70"></app-fileuploads>
        <app-piechart [fileTypesCount$]="fileTypesCount$" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex="30"></app-piechart>
        <app-users [usersCount$]="usersCount$" fxFlex="100"></app-users>
        <app-healthchek [serverUrl]="serverUrl" fxFlex="100" ></app-healthchek>
    </div>
</div>