
<div appIsLoggedIn (LoggedIn)="onLoggedIn($event)"></div>

<span *ngIf="loggedIn.isLoggedIn, else elseBlock">
    <button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <img src="{{avatar}}" alt="user" class="profile-pic"> </button>    
</span>
<ng-template #elseBlock>
    <button mat-button [routerLink]="['/signup']">SIGN UP</button>
    <button mat-button [routerLink]="['/login']">LOG IN</button>
    <button mat-button 
            mat-icon-button
            matTooltip="Select a theme"
            [matMenuTriggerFor]="themeMenu"
            aria-label="theme picker"
    >
        <mat-icon style="font-size: 18px;">brush</mat-icon>
    </button>
</ng-template>
<!--Loged In user-->
<mat-menu #profile="matMenu" class="mymegamenu">
    <button *ngIf="loggedIn.role === 'Admin'" mat-menu-item [routerLink]="['/administration']">
        <mat-icon>view_quilt</mat-icon>
        <span>Admin Area</span>
    </button>
    <button mat-menu-item [routerLink]="['/filemanager']">
        <mat-icon>folder_shared</mat-icon>
        <span>My Files</span>
    </button>
    <button mat-menu-item [routerLink]="['/settings']">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
    </button>
    <button mat-menu-item (click)="onSignOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign Out</span> 
    </button>
    <mat-divider></mat-divider>
    <ng-container *ngTemplateOutlet="selectorTpl"></ng-container>
</mat-menu>
<!--Guest-->
<mat-menu #themeMenu="matMenu">
    <ng-container *ngTemplateOutlet="selectorTpl"></ng-container>
</mat-menu>

<ng-template #selectorTpl>
    <button [disabled]="currentTheme === 'light'" mat-menu-item (click)="onChangeThemeClick('light')">
        <mat-icon>brightness_5</mat-icon> 
        <span>Light Theme</span>
    </button>
    <button [disabled]="currentTheme === 'dark'" mat-menu-item (click)="onChangeThemeClick('dark')">
        <mat-icon>brightness_3</mat-icon>
        <span>Dark Theme</span>
    </button>
</ng-template>
