<h2 mat-dialog-title>Add page</h2>
<form [formGroup]="addFormGroup" (ngSubmit)="onSubmit(addFormGroup.value)" class="font-14">
    <mat-dialog-content>
        <mat-form-field>
            <mat-label>Page Title</mat-label>
            <input matInput formControlName="name" required>
            <mat-error *ngIf="name.invalid">{{getErrorMessage(name)}}</mat-error>
            <mat-error *ngIf="name.hasError('itemExists')">A page with the same name already exists.</mat-error>
        </mat-form-field>
        <simplemde formControlName="content" [options]="editorOptions" ></simplemde>
    </mat-dialog-content>
    <mat-dialog-actions fxLayoutAlign="flex-end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button
            mat-button color="accent"
            [disabled]="!addFormGroup.valid || isBusy" type="submit"
            >Add Page
        </button>
    </mat-dialog-actions>
</form>
