<div fxLayout="row wrap" fxLayoutAlign="center">
    <div fxFlex="50">
        <mat-card>
            <div mat-subheader class="bg-purple text-white">Change Your Password</div>
            <mat-divider></mat-divider>
            <form [formGroup]="changePassFormGroup" style="width: 100%;"
                #formDirective="ngForm"
                (ngSubmit)="onSubmit(changePassFormGroup.value)">
                <mat-card-content> 
                    <app-message [message$]="message$"></app-message>
                    <!-- Current Password -->
                    <mat-form-field>
                        <mat-label>Current password</mat-label>
                        <input matInput [type]="hideOldPass ? 'password' : 'text'" formControlName="oldPassword"
                            required>
                        <button type="button" mat-icon-button matSuffix (click)="hideOldPass = !hideOldPass"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOldPass">
                            <mat-icon>{{hideOldPass ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="oldPassword.invalid">{{getErrorMessage(oldPassword)}}</mat-error>
                    </mat-form-field>
                    <!-- New Password -->
                    <mat-form-field>
                        <mat-label>New password</mat-label>
                        <input matInput [type]="hideNewPass ? 'password' : 'text'" formControlName="newPassword"
                            required>
                        <button type="button" mat-icon-button matSuffix (click)="hideNewPass = !hideNewPass"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPass">
                            <mat-icon>{{hideNewPass ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="newPassword.invalid">{{getErrorMessage(newPassword)}}</mat-error>
                    </mat-form-field>
                    <!-- Submit button-->
                    <mat-card-actions>
                        <button mat-flat-button class="btn-block btn-lg mat-primary"
                            [disabled]="!changePassFormGroup.valid || isBusy" type="submit">
                        <mat-progress-bar mode="indeterminate" *ngIf="isBusy"></mat-progress-bar>
                            Update Password</button>
                    </mat-card-actions>
                </mat-card-content>
            </form>
        </mat-card>
    </div>
</div>