<h2 mat-dialog-title>Rename {{item.name}}</h2>
<form [formGroup]="renameFormGroup" (ngSubmit)="onSubmit(renameFormGroup.value)">
    <mat-dialog-content>
        <mat-form-field>
            <mat-label>New name</mat-label>
            <input matInput formControlName="newName" required>
            <mat-error *ngIf="newName.invalid">{{getErrorMessage(newName)}}</mat-error>
            <mat-error *ngIf="newName.hasError('isSame')">new name must be different than current name.</mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions fxLayoutAlign="flex-end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button
            mat-button color="accent"
            [disabled]="!renameFormGroup.valid" type="submit"
            >Rename
        </button>
    </mat-dialog-actions>
</form>