<div class="page-wrapper mat-app-background">
    <div fxLayout="row wrap" fxLayoutAlign="center baseline" class="page-content">
        <!-- column -->
        <div fxFlex="60">
            <mat-card>
                <mat-card-header>
                    <mat-card-title i18n>404 Page Not Found</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h6 i18n>The requested page does not exist :(</h6>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <!--Footer-->
  <app-footer></app-footer>
</div>