.mat-tree-node {
    min-height: 3em;
    height: 3em;
}
.mat-tree-node > p {
    cursor: pointer;
}
.mat-tree-node:hover {
    background: rgba(180,180,180,0.3);
}
.folderOptions {
    margin-left: 80px;
}
.active-node{
    background: rgba(180,180,180,0.3);
}
.side-icon {
    margin-top: 7px;
    font-size: 18px;
    color: rgb(112, 112, 112);
}
.leaf-icon {
    font-size: 18px;
    color: rgb(112, 112, 112);
}
.active-link {
    background: rgba(180,180,180,0.3);
}
.mat-tree-node > div {
    cursor: pointer;
}