
table {
  width: 100%;
  margin-top: 20px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.selecetAll {
  width: 8%;
}
.selectedRowOnClick {
  background: rgba(255, 255, 99, 0.6) !important;
}
.dragging .droppableRow:hover {
  background: rgba(86, 255, 94, 0.7) !important;
}
.dragging .mat-row:hover {
  background: rgba(255, 135, 135, 0.7);
}
.mat-row:hover {
  background: rgba(180,180,180,0.3);
}
td.mat-cell {
  border-bottom: none;
}
td.mat-cell:last-of-type {
  width: 30px;
  padding: 0px;
}
.dragging .selectedRowsOnDrag {
  opacity: 0.2;
}
.layout-item-drag-preview {
  background:#03c6fc;
  color: white;
  padding: 0.25em 0.5em 0.2em;
  border-radius: 30px;
  display: inline-block;

}
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  cursor: move;
  /* disable cdk row animation  */
  transform: none !important;
}
.small-folder {
  width: 32px;
  height: 32px;
  margin-top: 2px;
}