
<table #itemstable mat-table
 [dataSource]="dataSource" matSort (matSortChange)="matSortChange($event)"
 cdkDropList
 (cdkDropListDropped)="onDrop($event)"
 [class.dragging]="dragging"
 [class.isMobile]="isMobile">

  <!-- Thumbnail Column -->
  <ng-container matColumnDef="thumbnail">
    <th mat-header-cell *matHeaderCellDef style="border-bottom: none; width: 60px;"></th>
    <td mat-cell *matCellDef="let item" class="p-5" style="border-bottom: none; width: 60px;" >
      <ng-container *ngIf="ifFile(item); else folderIcon">
        <img class="thumb-sm" src="{{item.thumbnail}}">
      </ng-container>
      <ng-template #folderIcon>
        <mat-icon class="small-folder" svgIcon="xu-folder"></mat-icon>
      </ng-template>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Name</th>
    <td mat-cell *matCellDef="let item">
      {{item.name | truncate:[25]}} &nbsp;<i *ngIf="ifFile(item)" class="font-10">({{item.size | bytes:2}})</i>
    </td>
  </ng-container>

  <!-- createdAt Column -->
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef i18n>Created at</th>
    <td mat-cell *matCellDef="let item"> {{item.createdAt | localDate}} </td>
  </ng-container>

  <!-- downloads Column -->
  <ng-container matColumnDef="downloads">
    <th mat-header-cell *matHeaderCellDef i18n>Downloads</th>
    <td mat-cell *matCellDef="let item"> {{item.downloadCount}} </td>
  </ng-container>

  <!-- options Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef i18n>Actions</th>
    <td mat-cell *matCellDef="let item" >
      <a mat-icon-button mat-button
      (click)="onContextMenu($event)">
        <mat-icon>more_vert</mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
      *matRowDef="let row; columns: displayedColumns;"
      [@rowAnimation]=""
      (click)="onItemClick(row)"
      (mousedown)="onItemMouseDown(row)"
      [class.row-click]="selections.includes(row)"
      [class.dragged-row]="selections.includes(row)"
      [class.droppable-row]="isdroppableArea(row)"
      cdkDrag
      (cdkDragStarted)="onDragStart(row)"
      (contextmenu)="onContextMenu($event)"
      >
      <div class="drag-preview" *cdkDragPreview>
        {{ getDragDesc() }}
      </div>
  </tr>
</table>

<div style="visibility: hidden; position: fixed"
    [style.left]="ctxMenuService.contextMenuPosition.x"
    [style.top]="ctxMenuService.contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu">
</div>
<!-- file/folder option menu -->
<mat-menu #contextMenu="matMenu">
	<ng-template matMenuContent let-itemsMenu="itemsMenu" let-selectedItems="selectedItems">
    <button mat-menu-item *ngFor="let menu of itemsMenu | async" (click)="onMenuItemClick(selectedItems, menu.action)">
      <mat-icon class="{{menu.class}}">{{menu.icon}}</mat-icon>
      <span>{{menu.description}}</span>
    </button>
  </ng-template>
</mat-menu>