<div class="page-wrapper mat-app-background">
  <div fxLayout="row wrap" fxLayoutAlign="center center" class="page-content">
    <mat-card fxFlex.lt-md="100" fxFlex="75">
      <mat-progress-bar mode="indeterminate" *ngIf="isBusy"></mat-progress-bar>
      <mat-card-header>
        <mat-card-title>{{page?.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div [innerHTML]="page?.content | markdown"></div>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="flex-end">
        <div class="text-muted font-14 p-5">Update At: {{page?.updatedAt | date}}</div>
      </mat-card-actions>
    </mat-card>
  </div>
  <app-footer></app-footer>
</div>