<div class="page-wrapper mat-app-background">
    <div fxLayout="row wrap" fxLayoutAlign="center center" class="page-content">
      
     <div fxFlex.lt-md="100" fxFlex="70">
        <mat-card>
            <mat-progress-bar mode="indeterminate" *ngIf="isBusy"></mat-progress-bar>
            <mat-card-header>
              <mat-card-title>{{page?.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div [innerHTML]="page?.content"></div>
            </mat-card-content>
            <div align="end" class="text-muted font-14 m-r-5">Update At: {{page?.updatedAt | date}}</div>
            </mat-card>
     </div>
     </div>
</div>