<div>
  <button mat-mini-fab color="accent" matTooltip="Add Group" aria-label="Add new group" class="add-group"
    (click)="onAddGroup()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<table #itemstable mat-table [dataSource]="dataSource" [class.isMobile]="isMobile" class="mat-elevation-z1 m-t-10">
  <!-- Id Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Group</th>
    <td mat-cell *matCellDef="let element"> {{element.role.name}} </td>
  </ng-container>
  <!-- AdminAreaAccess Column -->
  <ng-container matColumnDef="AdminAreaAccess">
    <th mat-header-cell *matHeaderCellDef>Admin Area Access</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="getClaim(element.claims, 'AdminAreaAccess'), else elseBlock">
        <mat-icon class="font-18" color="primary">done</mat-icon>
      </span>
      <ng-template #elseBlock>
          <mat-icon class="font-18" color="primary" color="warn">close</mat-icon>
      </ng-template>
    </td>
  </ng-container>
  <!-- "FileManagerAccess" Column -->
  <ng-container matColumnDef="FileManagerAccess">
    <th mat-header-cell *matHeaderCellDef>File Manager Access</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="getClaim(element.claims, 'FileManagerAccess'), else elseBlock">
        <mat-icon class="font-18" color="primary">done</mat-icon>
      </span>
      <ng-template #elseBlock>
        <mat-icon class="font-18" color="primary" color="warn">close</mat-icon>
      </ng-template>
    </td>
  </ng-container>
  <!-- "StorageSpace" Column -->
  <ng-container matColumnDef="StorageSpace">
    <th mat-header-cell *matHeaderCellDef>Storage Space</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="getClaim(element.claims, 'StorageSpace') as space">
        {{ (space * 1024 * 1024) | bytes:2 }}
      </span>
    </td>
  </ng-container>
  <!-- "FileExpiration" Column -->
  <ng-container matColumnDef="FileExpiration">
    <th mat-header-cell *matHeaderCellDef>
      File Expiration
      <mat-icon class="font-12"
        matTooltip="A file is considered expired when it did not get downloaded within the provided time range.">help
      </mat-icon>
    </th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="getClaim(element.claims, 'FileExpiration') as expiration">
        {{expiration}} day
      </span>
    </td>
  </ng-container>
  <!-- "DownloadTTW" Column -->
  <ng-container matColumnDef="DownloadTTW">
    <th mat-header-cell *matHeaderCellDef>
      Download TTW
      <mat-icon class="font-12" matTooltip="Time to wait when a download is already in progress.">help</mat-icon>
    </th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="getClaim(element.claims, 'DownloadTTW') as expiration">
        {{expiration}} s
      </span>
    </td>
  </ng-container>
  <!-- "ConcurrentUpload" Column -->
  <ng-container matColumnDef="ConcurrentUpload">
    <th mat-header-cell *matHeaderCellDef>Concurrent Upload</th>
    <td mat-cell *matCellDef="let element">
      {{getClaim(element.claims, 'ConcurrentUpload')}}
    </td>
  </ng-container>
  <!-- "DownloadSpeed" Column -->
  <ng-container matColumnDef="DownloadSpeed">
    <th mat-header-cell *matHeaderCellDef>Download Speed</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="getClaim(element.claims, 'DownloadSpeed') as speed">
        {{ (speed * 1024) | bytes:2}}
      </span>
    </td>
  </ng-container>
  <!-- "MaxFileSize" Column -->
  <ng-container matColumnDef="MaxFileSize">
    <th mat-header-cell *matHeaderCellDef>Max File Size</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="getClaim(element.claims, 'MaxFileSize') as maxfilesize">
        {{ (maxfilesize * 1024 * 1024) | bytes:2}}
      </span>
    </td>
  </ng-container>
  <!-- "WaitTime" Column -->
  <ng-container matColumnDef="WaitTime">
    <th mat-header-cell *matHeaderCellDef>
      Wait Time
      <mat-icon class="font-12" matTooltip="Time to wait before the download starts">help</mat-icon>
    </th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="getClaim(element.claims, 'WaitTime') as waittime">
        {{waittime}} s
      </span>
    </td>
  </ng-container>
  <!-- actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <a mat-icon-button mat-button [matMenuTriggerFor]="menu" aria-label="Actions">
        <mat-icon>more_vert</mat-icon>
      </a>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row [@rowAnimation]="animation"
    *matRowDef="let row; columns: displayedColumns;" (click)="onItemClick(row)"></tr>
</table>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onEdit()">
    <mat-icon>edit</mat-icon>Edit</button>
  <button mat-menu-item (click)="onDelete()">
    <mat-icon color="warn">delete</mat-icon>
      Delete
  </button>
</mat-menu>