 <div class="user-profile" style="background: url(assets/images/background/user-info.png) no-repeat;">
    <!-- User profile image -->
    <div class="profile-img"> <img src="{{avatar}}" alt="user"> </div>
    <!-- User profile text-->
    <div class="profile-text"><a class=""> {{username}} <i class="ti-angle-down font-12 m-l-5"></i></a></div>
    
</div>
<div class="side-bar-tree">
    <app-folderstree  (folderPathChanged$)="onfolderPathChanged($event)"></app-folderstree>
</div>
<div class="storage-status">
    <div *ngIf="uploadSetting; else elseBlock">
        <mat-progress-bar mode="determinate" 
        value="{{((uploadSetting.usedSpace/ (uploadSetting.storageSpace * 1024 * 1024) * 100)).toFixed(2)}}"></mat-progress-bar>     
        <p class="text-muted">{{uploadSetting.usedSpace | bytes:2 }} / {{uploadSetting.storageSpace *1024 *1024 | bytes:2 }}</p>
    </div>
    <ng-template #elseBlock>
        <mat-progress-bar mode="indeterminate" ></mat-progress-bar>
        <p class="text-muted">--/--</p>
    </ng-template>  
</div>
