<h2 mat-dialog-title>Set Password</h2>
<form [formGroup]="passwordFormGroup" (ngSubmit)="onSubmit(passwordFormGroup.value)">
    <mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
            <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password.invalid">{{getErrorMessage(password)}}</mat-error>
          </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions fxLayoutAlign="flex-end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button
            mat-button color="primary"
            [disabled]="!passwordFormGroup.valid" type="submit"
            >Set Password
        </button>
    </mat-dialog-actions>
</form>