.mat-tree-node {
    min-height: 3em;
    height: 3em;
}
.mat-tree-node > p {
    cursor: pointer;
}
.mat-tree-node:hover {
    background: rgba(180,180,180,0.3);
}
.folderOptions {
    margin-left: 80px;
}
.active-node{
    background: rgba(180,180,180,0.3);
}
.context-menu-on {
    background: rgba(255, 255, 99, 0.6);
}