.add-files {
	position: absolute;
  right: 17px;
  top: 67px;
}

.can-activate-link {
  opacity: 0.8;
  cursor: pointer;
}
.no-records .mat-icon {
  width: 100px;
  height: 100px;
  margin-top: 100px;
}
.no-records > p {
    font-weight: bold;
    line-height: 24px;
    font-size: 16px;
    margin-top: 10px;
}
