<mat-sidenav-container class="page-wrapper">
  <!-- Sidebar -->
  <mat-sidenav #snav id="snav" class="dark-sidebar pl-xs" [mode]="mobileQuery.matches ? 'side' : 'over'" fixedTopGap="0" [opened]="mobileQuery.matches" [disableClose]="mobileQuery.matches">
      <app-sidebar 
       [uploadSetting$]="uploadSetting$"
       (folderPathChanged$)="onfolderPathChanged($event)"></app-sidebar>
  </mat-sidenav>
  <!-- Page container -->
  <mat-sidenav-content>
    <div class="page-content">
      <mat-sidenav-container (backdropClick)="sidenav.close()" >
        <mat-sidenav #sidenav (keydown.escape)="sidenav.close()" disableClose position="end">
          <app-iteminfo [itemInfo$]="itemInfo$" [folderPath]="pathSelectedFolder" ></app-iteminfo>
        </mat-sidenav>

        <mat-sidenav-content>
              <!-- Header section-->
              <mat-progress-bar color="accent" *ngIf="isBusy" mode="query"></mat-progress-bar>
              <mat-card class="m-0">
                  <div class="p-l-20 p-t-20 p-b-5">
                    <h4 class="card-title m-0" i18n>My Files & Folders</h4>
                      <div fxLayout="row">
                        <div *ngFor="let folder of pathSelectedFolder; last as isLast" class="font-12 bread-crumb">
                            <div fxLayout="row" *ngIf="!isLast; else elseBlock">
                              <div class="active-link" (click)="onBreadCrumbClick(folder)">
                                {{folder.name}}  
                              </div>
                              <mat-icon class="op-5">keyboard_arrow_right</mat-icon>
                            </div>
                            <ng-template #elseBlock>
                              <span class="op-5">{{folder.name}}</span>
                            </ng-template>
                        </div>
                      </div>
                      
                    <button type="button" [matMenuTriggerFor]="addFilesMenu" mat-mini-fab color="accent" class="add-files">+</button>
                    <mat-menu #addFilesMenu="matMenu">
                      <button mat-menu-item (click)="openUploadSheet()">
                        <mat-icon>cloud_upload</mat-icon>
                        <span i18n>File Upload</span>
                      </button>
                      <button mat-menu-item (click)="openCreateFolder()">
                        <mat-icon>create_new_folder</mat-icon>
                        <span i18n>New Folder</span>
                      </button>
                      <!-- for now, only table view is supported, grid view will be available once cdk support it
                        see issue: https://github.com/angular/components/issues/13372
                      <mat-divider></mat-divider>
                      <button mat-menu-item (click)="changeDisplay('list')" [disabled]="displayMode === 'list'">
                        <mat-icon>view_headline</mat-icon>
                        <span>List View</span>
                      </button>
                      <button mat-menu-item (click)="changeDisplay('grid')" [disabled]="displayMode === 'grid'">
                        <mat-icon>view_module</mat-icon>
                        <span>Grid View</span>
                      </button>
                      -->
                    </mat-menu>
                  </div>
                <mat-divider></mat-divider>
                <mat-card-content style="min-height: 530px">
                  <app-tableview *ngIf="displayMode == 'list'" [folderContent$]="folderContent$"></app-tableview>
                  <app-gridview *ngIf="displayMode == 'grid'" [folderContent$]="folderContent$"></app-gridview>
                  <!--Empty folder-->
                  <div *ngIf="(folderContent$ | async)?.length == 0" 
                        fxlayoutalign="center center">
                    <div class="text-center no-records">
                      <mat-icon svgIcon="xu-folder"></mat-icon>
                      <p i18n>No files in here</p>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
              
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

