<div class="page-wrapper mat-app-background">
<mat-sidenav-container class="download-content">
    <!-- Side bar -->
    <mat-sidenav #snav id="snav" class="dark-sidebar pl-xs" [mode]="mobileQuery.matches ? 'side' : 'over'"
        fixedTopGap="0" [opened]="mobileQuery.matches" [disableClose]="mobileQuery.matches">
        <app-sidebar [folderId]="folderId"></app-sidebar>
    </mat-sidenav>
    <!-- Page container -->
    <mat-sidenav-content>
        <mat-card>
            <div fxLayout="row wrap">
                <mat-progress-bar *ngIf="isBusy" color="accent" mode="query"></mat-progress-bar>
                <h4 class="card-title m-l-15" i18n>Folder content</h4>
            </div>
            <mat-divider></mat-divider>
            <mat-card-content style="min-height: 500px;">
                <app-message [message$]="message$"></app-message>
                <app-tableview [folderContent$]="folderContent$"></app-tableview>
                <!--Empty folder-->
                <div *ngIf="(folderContent$ | async)?.length == 0" fxlayoutalign="center center">
                    <div class="text-center no-records">
                        <mat-icon svgIcon="xu-folder"></mat-icon>
                        <p i18n>No files in here</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-sidenav-content>    
</mat-sidenav-container>
<app-footer></app-footer>
</div>