<div class="page-wrapper mat-app-background">
    <div fxLayout="row wrap" fxLayoutAlign="center" class="page-content">
        <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Reset Your Password</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <form [formGroup]="forgotPassFormGroup" style="width: 100%;" #formDirective="ngForm"
                    (ngSubmit)="onSubmit(forgotPassFormGroup.value)">
                    <mat-card-content>
                        <app-message [message$]="message$"></app-message>
                        <!-- Current Password -->
                        <p>Enter the email address you used to create your account:</p>
                        <mat-form-field>
                            <mat-label>Enter email</mat-label>
                            <input matInput [type]="email" formControlName="email" required>
                            <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                        </mat-form-field>

                        <!-- Submit button-->
                        <mat-card-actions>
                            <button mat-flat-button class="btn-block btn-lg mat-primary"
                                [disabled]="!forgotPassFormGroup.valid || isBusy" type="submit">
                                <mat-progress-bar mode="indeterminate" *ngIf="isBusy"></mat-progress-bar>
                                SEND ME A PASSWORD-RESET EMAIL
                            </button>
                        </mat-card-actions>
                        <p class="text-muted">
                            After clicking the button above, an email will be sent to you with a link to reset your password.
                        </p>
                    </mat-card-content>
                </form>
            </mat-card>
        </div>
    </div>
</div>